html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o body ocupe toda a altura da tela */
  width: 100%; /* Garante que o body ocupe toda a largura da tela */
}

.app-container {
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
  /* [MB] tentando adicionar a imagem de fundo */
  background-image: url('../backgroun input/photorealistic-colorful-smoke.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
}

header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}

h1 {
  font-size: 3rem;
  margin-left: 0; /* [MB] tentando deixar o titulo na esquerda */
  text-align: center; /* [MB] tentando deixar o titulo na esquerda */
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1.2rem;
  margin-left: 0; /* [MB] tentando deixar o titulo na esquerda */
  text-align: center; /* [MB] tentando deixar o titulo na esquerda */
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.countdown-box {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.countdown-box::after {
  content: '';
  position: absolute;
  bottom: 37%; /* Centraliza verticalmente */
  left: 0; /* Define o início da linha */
  width: 100%; /* Define o comprimento da linha */
  height: 5px; /* Espessura da linha */
  background-color: #000000; /* Cor branca para a linha */
  opacity: 0.6; /* Transparência da linha */
}

.countdown-value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000; 
  margin-bottom: 20px;
}

.countdown-label {
  font-size: 1rem;
  color: #000000; /* Cor preta para o texto */
  opacity: 0.8;
}

.reset-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.reset-button {
  background-color: rgba(192, 0, 0, 0.2);
  border: 2px solid rgba(255, 0, 0, 0.5);
  padding: 12px 25px;
  font-size: 1.1rem;
  color: #ffffff;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.reset-button:hover {
  background-color: rgba(192, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}


